apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://${local_ip}:9090
    access: proxy
    isDefault: true

  - name: Prometheus-DB
    type: prometheus
    url: http://${db_ip}:9090
    access: proxy
    isDefault: false